@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

/* All important contents */
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
    background: #000000;
    width: 100%;
    min-height: 1500px;
}

/* Sections and Items that use Parallax effect */

section:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 350px;
    background: linear-gradient(to top, #000000, transparent);
    z-index: 10000;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0d263b;
    z-index: 10000;
    mix-blend-mode: color;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#moon {
    width: 350px;
    height: 350px;
}

#mountain {
    z-index: 2;
}

#text {
    position: relative;
    color: #fff;
    font-size: 8em;
    z-index: 1;
}

/* Text below Parallax Effect */
/* Flexbox */
.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10%;
}

.item {
    width: 45%;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;

    color: white;
    border: 1px solid #fff;
    box-shadow: 5px 5px 20px #0a2a43;
}

.item h1 {
    text-align: center;
    font-weight: 500;
    padding: 2%;
}

.item p {
    text-align: justify;
    padding: 2%;
}
